section{
	p{
		margin:0;
	}
	width:100%;
	margin-top:3px;
	.middle{
		width:1022px;
		margin:0 auto;
		.middle-981{
			width:981px;
			height:1445px;
			margin:0 auto;
			background-color:#fff;
			.baby{
				margin-bottom:20px;
				.baby-head{
					height:38px;
					border-bottom:3px solid #deefe7;
					h2{	
						height:38px;
						margin:0;
						.infant{
							width:5px;
							height:38px;	
							.infant-1{
								height:8px;
							}
							.infant-2{
								background-color:#00ab84;
								height:20px;
							}
						}
						a{
							color:#00ab84;
							margin-left:8px;
							&:hover{
								color:#b30400;
							}
						}
					}
					span{
						font-size:14px;
						color:lightgrey;
						font-style:italic;
						line-height:38px;
						margin-left:8px;
					}
					ul{
						line-height:38px;
						margin-left:20px;
						width:846px;
						li{
							margin-right:10px;
							a{
								color:#00ab84;
								&:hover{
									color:#ea5550;
								}
							}	
						}
					}
				}
				.baby-middle{
					margin-top:24px;
					height:170px;
					display:flex;
					.baby-middle1{
						width:303px;
						height:170px;
						.baby-middle11{
							width:160px;
							height:120px;
							margin-right:8px;
							background:url(../亲自动手_小精灵儿童网站_files/logo.jpg) no-repeat;
							a{
								display:block;
								text-indent:-9000em;
								width:160px;
								height:120px;
							}
						}
						.baby-middle12{
							height:170px;
							h3{
								margin:0;
								a{
									color:black;
									&:hover{
										text-decoration:underline;
									}
								}
							}
							p{
								word-wrap:break-word;
								margin:0;
								font-size:13px;
								color:grey;
							}
						}
					}
					.baby-middle2{
						margin:0 34px;
						.baby-middle11{
							background:url(../亲自动手_小精灵儿童网站_files/logo1.jpg) no-repeat;
						}
					}
					.baby-middle3{
						.baby-middle11{
							background:url(../亲自动手_小精灵儿童网站_files/logo2.jpg) no-repeat;
						}
					}
				}
			}
			.baby2{
				margin-bottom:20px;
				.baby-head{
					height:38px;
					border-bottom:3px solid #fce2da;
					h2{	
						height:38px;
						margin:0;
						.infant{
							width:5px;
							height:38px;	
							.infant-1{
								height:8px;
							}
							.infant-2{
								background-color:#ea5550;
								height:20px;
							}
						}
						a{
							color:#ea5550;
							margin-left:8px;
							&:hover{
								color:#c00;
							}
						}
					}
					span{
						font-size:14px;
						color:lightgrey;
						font-style:italic;
						line-height:38px;
						margin-left:8px;
					}
					ul{
						line-height:38px;
						margin-left:20px;
						width:846px;
						li{
							margin-right:10px;
							a{
								color:#ea5550;
								&:hover{
									color:#c00;
								}
							}	
						}
					}
				}
				.baby-middle{
					margin-top:24px;
					height:170px;
					display:flex;
					.baby-middle1{
						width:303px;
						height:170px;
						.baby-middle11{
							width:160px;
							height:120px;
							margin-right:8px;
							background:url(../亲自动手_小精灵儿童网站_files/logo3.jpg) no-repeat;
							a{
								display:block;
								text-indent:-9000em;
								width:160px;
								height:120px;
							}
						}
						.baby-middle12{
							height:170px;
							h3{
								margin:0;
								a{
									color:black;
									&:hover{
										text-decoration:underline;
									}
								}
							}
							p{
								word-wrap:break-word;
								margin:0;
								font-size:13px;
								color:grey;
							}
						}
					}
					.baby-middle2{
						margin:0 34px;
						.baby-middle11{
							background:url(../亲自动手_小精灵儿童网站_files/logo4.jpg) no-repeat;
						}
					}
					.baby-middle3{
						.baby-middle11{
							background:url(../亲自动手_小精灵儿童网站_files/logo5.jpg) no-repeat;
						}
					}
				}
			}
			.ad{
				height:91px;
				background-color:#00ab84;
				margin-bottom:22px;
			}
			.baby3{
				.baby-head{
					height:38px;
					border-bottom:3px solid #deefe7;
					h2{	
						height:38px;
						margin:0;
						.infant{
							width:5px;
							height:38px;	
							.infant-1{
								height:8px;
							}
							.infant-2{
								background-color:#00ab84;
								height:20px;
							}
						}
						a{
							color:#00ab84;
							margin-left:8px;
							&:hover{
								color:#b30400;
							}
						}
					}
					span{
						font-size:14px;
						color:lightgrey;
						font-style:italic;
						line-height:38px;
						margin-left:8px;
					}
					ul{
						line-height:38px;
						margin-left:20px;
						width:804px;
						li{
							margin-right:10px;
							a{
								color:#00ab84;
								&:hover{
									color:#ea5550;
								}
							}	
						}
					}
				}
				.animate{
					margin-top:15px;
					width:981px;
					li{
						margin:10px 15px;
						width:130px;
						a{
							&:hover p{
								color:#ff0b13;
								text-decoration:underline;
							}
							img{
								border:1px solid grey;
								padding:5px;
							}
							p{
								text-align:center;
								color:black;
								font-size:14px;
								// word-wrap:break-word;
								overflow:hidden;
								white-space:nowrap;
								text-overflow:ellipsis;
							}
						}

					}
				}
			}
			.baby4{
				.baby-middle{
					display:flex;
					.baby-middle-left{
						h3{
							margin:0;
							a{
							color:#ea5550;
								&:hover{
									text-decoration:underline;
								}
							}
						}
						ul{
							padding-left:20px;
							li{
							list-style-type: square;
							color:grey;
							margin-top:10px;
								a{
								color:black;
								font-size:14px;
									&:hover{
										text-decoration:underline;
										color:#ea5550;
									}
								}
							}
						}
					}
					.baby-middle-middle{
						margin-left:100px;
						a{
							position:relative;
							display:block;
							width:305px;
							height:185px;
							.mask1{
								width:305px;
								height:25px;
								opacity:0.6;
								background:black;
								position:absolute;
								bottom:0;
								color:white;
								text-align:center;
								font-size:16px;
								transition:0.5s all ease;
								&:hover{
									height:80px;
									font-size:20px;
									opacity:0.8;
								}
							}
						}
						ul{
							margin-top:10px;	
							width:305px;
							li{
								width:145px;
								overflow:hidden;
								padding:10px 0;
								text-overflow:ellipsis;
								white-space:nowrap;
								&:hover a{
									color:#ea5550;
									text-decoration:underline;
								}
								a{	
									img{
									display:block;
									width:130px;
									height:95px;
									padding:6px;
									border:1px solid grey;
									}
									display:block;
									font-size:14px;
									color:black;
									
								}
								
								
							}
						}
					}
					.baby-middle-right{
						margin-left:20px;
						ol{
							padding-left:20px;
							li{
							list-style-type: none;
							color:grey;
							margin-top:10px;
								span{
									display:inline-block;
									font-size:10px;
									text-align:center;
									color:white;
									border-radius:2px;
									line-height:14px;
									width:14px;
									height:14px;
									margin-right:7px;
									background-color:#ea5550;
								}
								a{
								color:black;
								font-size:14px;
									&:hover{
										text-decoration:underline;
										color:#ea5550;
									}
								}
								.btc{
									background-color:lightgrey;
								}
							}
						}
					}
				}
			}
		}
	}
}