@charset "UTF-8";
section {
  width: 100%;
  margin-top: 3px; }
  section p {
    margin: 0; }
  section .middle {
    width: 1022px;
    margin: 0 auto; }
    section .middle .middle-981 {
      width: 981px;
      height: 1445px;
      margin: 0 auto;
      background-color: #fff; }
      section .middle .middle-981 .baby {
        margin-bottom: 20px; }
        section .middle .middle-981 .baby .baby-head {
          height: 38px;
          border-bottom: 3px solid #deefe7; }
          section .middle .middle-981 .baby .baby-head h2 {
            height: 38px;
            margin: 0; }
            section .middle .middle-981 .baby .baby-head h2 .infant {
              width: 5px;
              height: 38px; }
              section .middle .middle-981 .baby .baby-head h2 .infant .infant-1 {
                height: 8px; }
              section .middle .middle-981 .baby .baby-head h2 .infant .infant-2 {
                background-color: #00ab84;
                height: 20px; }
            section .middle .middle-981 .baby .baby-head h2 a {
              color: #00ab84;
              margin-left: 8px; }
              section .middle .middle-981 .baby .baby-head h2 a:hover {
                color: #b30400; }
          section .middle .middle-981 .baby .baby-head span {
            font-size: 14px;
            color: lightgrey;
            font-style: italic;
            line-height: 38px;
            margin-left: 8px; }
          section .middle .middle-981 .baby .baby-head ul {
            line-height: 38px;
            margin-left: 20px;
            width: 846px; }
            section .middle .middle-981 .baby .baby-head ul li {
              margin-right: 10px; }
              section .middle .middle-981 .baby .baby-head ul li a {
                color: #00ab84; }
                section .middle .middle-981 .baby .baby-head ul li a:hover {
                  color: #ea5550; }
        section .middle .middle-981 .baby .baby-middle {
          margin-top: 24px;
          height: 170px;
          display: flex; }
          section .middle .middle-981 .baby .baby-middle .baby-middle1 {
            width: 303px;
            height: 170px; }
            section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle11 {
              width: 160px;
              height: 120px;
              margin-right: 8px;
              background: url(../亲自动手_小精灵儿童网站_files/logo.jpg) no-repeat; }
              section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle11 a {
                display: block;
                text-indent: -9000em;
                width: 160px;
                height: 120px; }
            section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle12 {
              height: 170px; }
              section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle12 h3 {
                margin: 0; }
                section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle12 h3 a {
                  color: black; }
                  section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle12 h3 a:hover {
                    text-decoration: underline; }
              section .middle .middle-981 .baby .baby-middle .baby-middle1 .baby-middle12 p {
                word-wrap: break-word;
                margin: 0;
                font-size: 13px;
                color: grey; }
          section .middle .middle-981 .baby .baby-middle .baby-middle2 {
            margin: 0 34px; }
            section .middle .middle-981 .baby .baby-middle .baby-middle2 .baby-middle11 {
              background: url(../亲自动手_小精灵儿童网站_files/logo1.jpg) no-repeat; }
          section .middle .middle-981 .baby .baby-middle .baby-middle3 .baby-middle11 {
            background: url(../亲自动手_小精灵儿童网站_files/logo2.jpg) no-repeat; }
      section .middle .middle-981 .baby2 {
        margin-bottom: 20px; }
        section .middle .middle-981 .baby2 .baby-head {
          height: 38px;
          border-bottom: 3px solid #fce2da; }
          section .middle .middle-981 .baby2 .baby-head h2 {
            height: 38px;
            margin: 0; }
            section .middle .middle-981 .baby2 .baby-head h2 .infant {
              width: 5px;
              height: 38px; }
              section .middle .middle-981 .baby2 .baby-head h2 .infant .infant-1 {
                height: 8px; }
              section .middle .middle-981 .baby2 .baby-head h2 .infant .infant-2 {
                background-color: #ea5550;
                height: 20px; }
            section .middle .middle-981 .baby2 .baby-head h2 a {
              color: #ea5550;
              margin-left: 8px; }
              section .middle .middle-981 .baby2 .baby-head h2 a:hover {
                color: #c00; }
          section .middle .middle-981 .baby2 .baby-head span {
            font-size: 14px;
            color: lightgrey;
            font-style: italic;
            line-height: 38px;
            margin-left: 8px; }
          section .middle .middle-981 .baby2 .baby-head ul {
            line-height: 38px;
            margin-left: 20px;
            width: 846px; }
            section .middle .middle-981 .baby2 .baby-head ul li {
              margin-right: 10px; }
              section .middle .middle-981 .baby2 .baby-head ul li a {
                color: #ea5550; }
                section .middle .middle-981 .baby2 .baby-head ul li a:hover {
                  color: #c00; }
        section .middle .middle-981 .baby2 .baby-middle {
          margin-top: 24px;
          height: 170px;
          display: flex; }
          section .middle .middle-981 .baby2 .baby-middle .baby-middle1 {
            width: 303px;
            height: 170px; }
            section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle11 {
              width: 160px;
              height: 120px;
              margin-right: 8px;
              background: url(../亲自动手_小精灵儿童网站_files/logo3.jpg) no-repeat; }
              section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle11 a {
                display: block;
                text-indent: -9000em;
                width: 160px;
                height: 120px; }
            section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle12 {
              height: 170px; }
              section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle12 h3 {
                margin: 0; }
                section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle12 h3 a {
                  color: black; }
                  section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle12 h3 a:hover {
                    text-decoration: underline; }
              section .middle .middle-981 .baby2 .baby-middle .baby-middle1 .baby-middle12 p {
                word-wrap: break-word;
                margin: 0;
                font-size: 13px;
                color: grey; }
          section .middle .middle-981 .baby2 .baby-middle .baby-middle2 {
            margin: 0 34px; }
            section .middle .middle-981 .baby2 .baby-middle .baby-middle2 .baby-middle11 {
              background: url(../亲自动手_小精灵儿童网站_files/logo4.jpg) no-repeat; }
          section .middle .middle-981 .baby2 .baby-middle .baby-middle3 .baby-middle11 {
            background: url(../亲自动手_小精灵儿童网站_files/logo5.jpg) no-repeat; }
      section .middle .middle-981 .ad {
        height: 91px;
        background-color: #00ab84;
        margin-bottom: 22px; }
      section .middle .middle-981 .baby3 .baby-head {
        height: 38px;
        border-bottom: 3px solid #deefe7; }
        section .middle .middle-981 .baby3 .baby-head h2 {
          height: 38px;
          margin: 0; }
          section .middle .middle-981 .baby3 .baby-head h2 .infant {
            width: 5px;
            height: 38px; }
            section .middle .middle-981 .baby3 .baby-head h2 .infant .infant-1 {
              height: 8px; }
            section .middle .middle-981 .baby3 .baby-head h2 .infant .infant-2 {
              background-color: #00ab84;
              height: 20px; }
          section .middle .middle-981 .baby3 .baby-head h2 a {
            color: #00ab84;
            margin-left: 8px; }
            section .middle .middle-981 .baby3 .baby-head h2 a:hover {
              color: #b30400; }
        section .middle .middle-981 .baby3 .baby-head span {
          font-size: 14px;
          color: lightgrey;
          font-style: italic;
          line-height: 38px;
          margin-left: 8px; }
        section .middle .middle-981 .baby3 .baby-head ul {
          line-height: 38px;
          margin-left: 20px;
          width: 804px; }
          section .middle .middle-981 .baby3 .baby-head ul li {
            margin-right: 10px; }
            section .middle .middle-981 .baby3 .baby-head ul li a {
              color: #00ab84; }
              section .middle .middle-981 .baby3 .baby-head ul li a:hover {
                color: #ea5550; }
      section .middle .middle-981 .baby3 .animate {
        margin-top: 15px;
        width: 981px; }
        section .middle .middle-981 .baby3 .animate li {
          margin: 10px 15px;
          width: 130px; }
          section .middle .middle-981 .baby3 .animate li a:hover p {
            color: #ff0b13;
            text-decoration: underline; }
          section .middle .middle-981 .baby3 .animate li a img {
            border: 1px solid grey;
            padding: 5px; }
          section .middle .middle-981 .baby3 .animate li a p {
            text-align: center;
            color: black;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
      section .middle .middle-981 .baby4 .baby-middle {
        display: flex; }
        section .middle .middle-981 .baby4 .baby-middle .baby-middle-left h3 {
          margin: 0; }
          section .middle .middle-981 .baby4 .baby-middle .baby-middle-left h3 a {
            color: #ea5550; }
            section .middle .middle-981 .baby4 .baby-middle .baby-middle-left h3 a:hover {
              text-decoration: underline; }
        section .middle .middle-981 .baby4 .baby-middle .baby-middle-left ul {
          padding-left: 20px; }
          section .middle .middle-981 .baby4 .baby-middle .baby-middle-left ul li {
            list-style-type: square;
            color: grey;
            margin-top: 10px; }
            section .middle .middle-981 .baby4 .baby-middle .baby-middle-left ul li a {
              color: black;
              font-size: 14px; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-left ul li a:hover {
                text-decoration: underline;
                color: #ea5550; }
        section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle {
          margin-left: 100px; }
          section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle a {
            position: relative;
            display: block;
            width: 305px;
            height: 185px; }
            section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle a .mask1 {
              width: 305px;
              height: 25px;
              opacity: 0.6;
              background: black;
              position: absolute;
              bottom: 0;
              color: white;
              text-align: center;
              font-size: 16px;
              transition: 0.5s all ease; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle a .mask1:hover {
                height: 80px;
                font-size: 20px;
                opacity: 0.8; }
          section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle ul {
            margin-top: 10px;
            width: 305px; }
            section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle ul li {
              width: 145px;
              overflow: hidden;
              padding: 10px 0;
              text-overflow: ellipsis;
              white-space: nowrap; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle ul li:hover a {
                color: #ea5550;
                text-decoration: underline; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle ul li a {
                display: block;
                font-size: 14px;
                color: black; }
                section .middle .middle-981 .baby4 .baby-middle .baby-middle-middle ul li a img {
                  display: block;
                  width: 130px;
                  height: 95px;
                  padding: 6px;
                  border: 1px solid grey; }
        section .middle .middle-981 .baby4 .baby-middle .baby-middle-right {
          margin-left: 20px; }
          section .middle .middle-981 .baby4 .baby-middle .baby-middle-right ol {
            padding-left: 20px; }
            section .middle .middle-981 .baby4 .baby-middle .baby-middle-right ol li {
              list-style-type: none;
              color: grey;
              margin-top: 10px; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-right ol li span {
                display: inline-block;
                font-size: 10px;
                text-align: center;
                color: white;
                border-radius: 2px;
                line-height: 14px;
                width: 14px;
                height: 14px;
                margin-right: 7px;
                background-color: #ea5550; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-right ol li a {
                color: black;
                font-size: 14px; }
                section .middle .middle-981 .baby4 .baby-middle .baby-middle-right ol li a:hover {
                  text-decoration: underline;
                  color: #ea5550; }
              section .middle .middle-981 .baby4 .baby-middle .baby-middle-right ol li .btc {
                background-color: lightgrey; }

/*# sourceMappingURL=dongshou.css.map */
